html,
body{
    height: 100%;
    align-items: center;
    background-color: #f5f5f5;
}

.bloc1 {
    margin : auto;
    padding-top: 40px;
    width:100%;

}

.image {
    align-items: left;
    height: 170px;
    width:280px;
    float:left;
    margin: auto -150px;
}
.bloc3 {
    margin : auto;
    padding-top: 40px;
    height:100%;
    width: 70%;
    background-color : 	#F8F8F8;

}

.bloc_barre{
    padding-top: 100px;
    margin : auto;
}

.bloc4 {
    background-color : #808080;
    height:100%;
}


.dropdown{
    position : relative;
}

.log-out{
    margin : auto;
    padding-left : 85em;
}